body {
    margin: 0;
}

.container {
    margin: 0 20vw;
    padding: 12px;
    height: 100%;
    background-color: #e6e6e6;
}

.container li {
    list-style: none;
}

.container blockquote {
    margin: 0;
    padding: 8px 8px;
    background-color: #acacac;
}

.container blockquote p {
    margin: 0;
    padding: 0 0;
}