{% extends "base.html" %}
{% block title %}{{ super() }} {{section.description}}{% endblock %}
{% block content %}

{% if current_path != "/" %}
<a href="..">Retour</a>
{% endif %}
<h1 class="title">
  {{ section.title }}
</h1>
<h2>{{ section.content | safe }}</h2>
{% set articles_length = section.pages | length %}
{% if articles_length > 0 %}
  <p>Liste des articles de la section :</p>
  <div class="cards"> 
  {% for page in section.pages %}
    <section class="card card-article">
      <h2>{{ page.title }}</h2>
      <a href="{{ page.path | safe }}">Lire l'article</a>
    </section>
  {% endfor %}
  </div>
{% endif %}

{% set categories_length = section.subsections | length %}
{% if categories_length > 0 %}
  <p>Liste des catégories de la section :</p>
  <div class="cards"> 
  {% for section_path in section.subsections %}
    {% set section = get_section(path=section_path) %}
    <section class="card">Catégorie sur <a href="{{ section.path | safe }}">{{ section.title }}</a></section>
  {% endfor %}
  </div>
{% endif %}

{% if articles_length == 0 and categories_length == 0 %}
  <p>Cette section est vide pour l'instant</p>
{% endif %}
{% endblock content %}