a {
    color: black;
    text-decoration: none;
}

/* a.retour {
    color: red;
} */

body {
  background-color: #EEEEEE
}

.article-par {
    border-radius: 25px;
    background: #999999;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
