a {
    color: red;
    text-decoration: none;
}

body {
  background-color: #EEEEEE
}

.article-par {
    border-radius: 25px;
    background: #999999;
    padding: 20px;
    width: 200px;
    height: 150px;
}
